.body {
    background-color: var(--background-color);
}

.main {
    width: 80%;
    margin: 0px auto;
}

/* start : menu bar */
.menu {
    width: 100%;
    margin-top: 24px;
    height: 48px;
}


.menu .more {
    color: var(--main-grey)
}

.sort-bar .active{
    font-weight: bold;
    color: #212529;
}
.sort-bar a {
    text-decoration: none;
    color: var(--main-grey);
    font-size: 18px;
    font-weight: 400;
}

.sort-bar div {
    width: 112px;
}

.sort-bar .filter {
    width: 84px;
    height: 32px;
    background-color: white;
    padding: 0px 8px;
    font-size: 12px;
    border-radius: 6px;
    margin-left: 15px;
}

.sort-bar .filter i {
    font-size: 16px;
    position: relative;
    top: -4px;
    margin-right: 6px;
}


/* end : menu bar */

/* start: article grid */
.article-box {
    margin: 0px -16px;
}

.container {
    width: 100%;
    margin-top: 32px;
}

.row {
    /* width: 100%; */
    margin: 0px;
}

.box {
    padding: 16px;
    width: 25%;
}
.content {
    background-color: white;
    width: 100%;
    height: 400px;
    border-radius: 4px;
}

.thumbnail {
    display: none;
}

.post {
    padding: 16px;
}

.post a {
    text-decoration: none;
}

.post a h4 {
    font-size: 16px;
    color: var(--main-black);
    font-weight: bold;
    margin-bottom: 4px;
}

.post a p {
    font-size: 14px;
    text-decoration: none;
    color: rgb(33, 37, 41);
    line-height: 24px;
    margin-bottom: 24px;
}

.post span {
    font-size: 13px;
    color: var(--main-grey);
    margin-right: 8px;
}

.info {
    padding: 10px 16px;
    border-top: solid 1px var(--border4);
}

.info a {
    color: var(--main-grey);
    font-size: 13px;
    text-decoration: none;
}

.info a img {
    width: 24px;
    height: 24px;
    border-radius: 12px;
    color: black;
    object-fit: cover;
    margin-right: 8px;
}

.info span {
    font-size: 13px;
}

.info .likes {
    font-size: 12px;
}

.likes i {
    margin-right: 8px;
}

h4 {
    font-size: 2rem;
    font-weight: bold;
}

/* end: article grid */