.body {
    background-color: var(--background-color);
}

.main {
    padding: 0px 16px;
    width: 80%;
    margin: 0px auto;
}

/* menu bar */
.menu {
    margin-top: 24px;
    height: 48px;
    text-decoration: none;
    
} 

/* start: article grid */
#card {
    width: 300px;
    height: 400px;
    background-color: white !important;
    margin: 16px;
}

h4 {
    font-size: 2rem;
    font-weight: bold;
}

/* end: article grid */