/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Roboto Mono', monospace; */

. {
  font-family: 'Noto Sans KR', sans-serif;
  font-family: 'Roboto Mono', monospace;
  background-color: #F8F9FA;
}