{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<article class="main">
  <!-- menu bar -->
  <div class="menu d-flex justify-content-between">
    <!-- filter -->
    <div class="sort-bar d-flex align-items-center">
      <div class="d-flex justify-content-center">
        <a href="{% url 'articles:index' %}" class=" active">
          <i class="fa-solid fa-arrow-trend-up"></i>
          트렌딩
        </a>
      </div>
      <div class="d-flex justify-content-center">
        <a href="#" class="">
          <i class="fa-solid fa-clock"></i>
          최신
        </a>
      </div>
      <div class="filter d-flex align-items-center justify-content-between">
        이번 주
        <i class="fa-solid fa-sort-down"></i>
      </div>
    </div>
    <!-- more -->
    <div class="more">
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </div>
  </div>
  
  <!-- articles -->
  <div class="article-box d-flex flex-wrap">
    {% for article in articles %}
      <div class="box">
        <div class="content d-flex flex-column justify-content-between">
          <div class="thumbnail">
            <img src="{% static '{{ article.thumbnail}}' %}" alt="">
          </div>
          <div class="post">
            <a href="{% url 'articles:detail' article.pk %}">
              <h4>{{ article.title }}</h4>
              <p>{{ article.content }}</p>
            </a>
            <div class="d-flex ">
              <span>{{ article.updated_at|date:'Y년 m월 d일'}}</span>
              <span>{{ comments }}개의 댓글</span>
            </div>
          </div>
          <div class="info d-flex justify-content-between">
            <a href="#" class="d-flex align-items-center">
              <img src="{% static 'img/profile-example.jpeg' %}" alt="">
              by {{ article.user }}</a>
            <div class="likes d-flex align-items-center">
              <i class="fa-solid fa-heart"></i>
              <span>likes</span>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</article>
{% endblock content %}