{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<article class="main">
  <!-- menu bar -->
  <div class="menu d-flex justify-content-between">
    <!-- filter -->
    <div class="sort-bar d-flex align-items-center">
      <div class="d-flex justify-content-center">
        <a href="#" class="active">
          <i class="fa-solid fa-arrow-trend-up"></i>
          트렌딩
        </a>
      </div>
      <div class="d-flex justify-content-center">
        <a href="#" class="">
          <i class="fa-solid fa-clock"></i>
          최신
        </a>
      </div>
      <div class="filter d-flex align-items-center justify-content-between">
        이번 주
        <i class="fa-solid fa-sort-down"></i>
      </div>
    </div>
    <!-- more -->
    <div class="more">
      <i class="fa-solid fa-ellipsis-vertical"></i>
    </div>
  </div>
  
  <!-- articles -->
  <div class="content container">
    <div class="row">
      {% for article in articles %}
        <div id="card" class="col-3">
          <div class="thumbnail">
            {% comment %} 있으면 보이기 {% endcomment %}
          </div>
          <div class="content">
            <h4>{{ article.title }}</h4>
            <p>{{ article.content }}</p>
            <span>{{ article.updated_at}}</span>
            <span>0개의 댓글</span>
          </div>
          <div class="user d-flex justify-content-between">
            <a href="#">by {{article.user}}</a>
            <div class="likes d-flex">
              <i class="fa-solid fa-heart"></i>
              <span>likes</span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</article>
{% endblock content %}